{% assign collection = collections['all'] %}
<ul>
  {% for name in collection.products %}
  {% unless section.settings.show_soldout != false and product.avaliable != true %}
  <li>
    <a style="color: {{ settings.link_color }}" href="{{ name.url }}">
      {{ name.title }}
      -{{ name.price | money }}
      {% if name.available != true %} (SOLD OUT) {%endif%}
    </a>
  </li>
  {% endunless %}
  {%endfor%}
</ul>
<a href="/sections/theme.liquid">
   Blog
  </a>

{% schema %}
{
    "name":"section name",
    "settings":[
        {
            "type":"checkbox",
            "id":"show_soldout",
            "label":"Show Sold Out Products",
            "default":false
        }
    ]
}
{% endschema %}