<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> baca6b982fa913f390dbc2c78ce475655097177c
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
<<<<<<< HEAD
=======
=======
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
>>>>>>> 468d35ab7d49a7bb85eab99a914485fa30f2d6d7
>>>>>>> baca6b982fa913f390dbc2c78ce475655097177c
  </div>