<<<<<<< HEAD
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
=======
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
>>>>>>> 468d35ab7d49a7bb85eab99a914485fa30f2d6d7
  </div>