{% assign collection = collections['all'] %}
<ul>
  {% for name in collection.products %}
  <li>
    <a href="{{ name.url }}">
      {{ name.title }}
      -{{ name.price | money }}
      {% if name.available != true %} (SOLD OUT) {%endif%}
    </a>
  </li>
  {%endfor%}
</ul>
