{% assign collection = collections['all'] %}
<ul>
  {% for name in collection.products %}
    <li>
      {{name.title}}
      -{{name.price | money}}
      {{name.available}}
    </li>
  {%endfor%}  
</ul>
