{% assign collection = collections['all'] %}
<ul>
  {% for name in collection.products %}
  <li>
    <a href="{{ name.url }}" >
      {{ name.title }}
      -{{ name.price | money }}
      {{ name.available }}
    </a>
  </li>
  {%endfor%}
</ul>
