<<<<<<< HEAD
<h1>Hello</h1>
=======
<<<<<<< HEAD
{% assign collection = collections['all'] %}
<ul>
  {% for name in collection.products %}
  {% unless section.settings.show_soldout != false and product.avaliable != true %}
  <li>
    <a style="color: {{ settings.link_color }}" href="{{ name.url }}">
      {{ name.title }}
      -{{ name.price | money }}
      {% if name.available != true %} (SOLD OUT) {%endif%}
    </a>
  </li>
  {% endunless %}
  {%endfor%}
</ul>
=======
<h1>Hello</h1>
>>>>>>> 6bcd27c0b08cc8747e5f4c19729e1e36c63dc073
>>>>>>> ce5272177fd54539e3886341428f5072a6a7a0f0
